### 1. import libraries and dataset, transform data type

In [88]:
import pandas as pd
import numpy as np

In [89]:
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
%matplotlib inline

In [91]:
df = pd.read_csv("Retail Customer Analytics Cleaned data.csv")
df

,Unnamed: 0,Customer_ID,CategoryGroup,Category,InvoiceDate,Quantity,TotalPrice,Total Sales
0,0,15550,Games & Toys,Games & Toys,2020-01-01,1,8,8
1,1,15550,Bags & Purses,Jumbo Bag,2020-01-01,1,2,2
2,2,15550,Decorations,Doilies,2020-01-01,1,1,1
3,3,15550,Bags & Purses,Purse,2020-01-01,2,3,6
4,4,15550,Bags & Purses,Purse,2020-01-01,2,3,6
...,...,...,...,...,...,...,...,...
395883,395883,12713,Bags & Purses,Backpack & Rucksack,2021-11-06,4,17,68
395884,395884,12713,Candles,Candles,2021-11-06,24,30,720
395885,395885,12713,Candles,Candles,2021-11-06,24,30,720
395886,395886,12713,Candles,Candles,2021-11-06,24,30,720
395887,395887,12713,Stationery & Office Supplies,Postage,2021-11-06,3,54,162

In [92]:
df.head(2)

,Unnamed: 0,Customer_ID,CategoryGroup,Category,InvoiceDate,Quantity,TotalPrice,Total Sales
0,0,15550,Games & Toys,Games & Toys,2020-01-01,1,8,8
1,1,15550,Bags & Purses,Jumbo Bag,2020-01-01,1,2,2

In [93]:
df['InvoiceDate'] = df['InvoiceDate'].apply(pd.to_datetime)

### 2. find out 2020, 2021 customers, repeat customers, lost customers, and new customers

In [94]:
df_2020 = df[df['InvoiceDate']<"2021-01-01"]

In [95]:
customer_2020 = pd.DataFrame(df_2020.groupby(['Customer_ID'], as_index=False)['Total Sales'].sum())

In [96]:
customer_2020.head(2)

   Customer_ID  Total Sales
0        12348        87641
1        12349        22608

In [97]:
df_2021 = df[df['InvoiceDate']>"2020-12-31"]

In [98]:
customer_2021 = pd.DataFrame(df_2021.groupby(['Customer_ID'], as_index=False)['Total Sales'].sum())

In [99]:
customer_2021.head(2)

   Customer_ID  Total Sales
0        12348        55940
1        12349        14086

In [100]:
customer_retained = pd.merge(customer_2020, customer_2021, on='Customer_ID')

In [101]:
customer_retained.head(2)

   Customer_ID  Total Sales_x  Total Sales_y
0        12348          87641          55940
1        12349          22608          14086

In [102]:
customer_retained_data = pd.merge(df, customer_retained['Customer_ID'], on = "Customer_ID")

In [103]:
customer_retained_data['Type'] = "Retained customer"

In [104]:
customer_lost = pd.DataFrame(pd.concat([customer_2020, customer_retained])['Customer_ID'].drop_duplicates(
    keep=False), columns=['Customer_ID'])

In [105]:
customer_lost_data = pd.merge(df, customer_lost['Customer_ID'], on="Customer_ID")

In [106]:
customer_lost_data['Type'] = "Lost customer"

In [107]:
customer_new = pd.DataFrame(pd.concat([customer_2021, customer_retained])['Customer_ID'].drop_duplicates(
    keep=False), columns=["Customer_ID"])

In [108]:
customer_new

      Customer_ID
4           12354
9           12363
10          12364
11          12365
12          12367
...           ...
3419        18261
3421        18263
3422        18265
3427        18274
3433        18282

[1441 rows x 1 columns]

In [109]:
customer_new_data = pd.merge(df, customer_new, on = "Customer_ID")

In [110]:
customer_new_data['Type'] = "New customer"

In [111]:
customer_new_data

,Unnamed: 0,Customer_ID,CategoryGroup,Category,InvoiceDate,Quantity,TotalPrice,Total Sales,Type
0,210696,12502,Stationery & Office Supplies,Postage,2021-01-01,4,112,448,New customer
1,210697,12502,Kitchen,Cake Plate,2021-01-01,3,15,45,New customer
2,210698,12502,Kitchen,Spoons,2021-01-01,12,20,240,New customer
3,210699,12502,Kitchen,Tea Plate,2021-01-01,3,13,39,New customer
4,210700,12502,Kitchen,Tea Cups & Saucers,2021-01-01,12,10,120,New customer
...,...,...,...,...,...,...,...,...,...
76135,395883,12713,Bags & Purses,Backpack & Rucksack,2021-11-06,4,17,68,New customer
76136,395884,12713,Candles,Candles,2021-11-06,24,30,720,New customer
76137,395885,12713,Candles,Candles,2021-11-06,24,30,720,New customer
76138,395886,12713,Candles,Candles,2021-11-06,24,30,720,New customer
76139,395887,12713,Stationery & Office Supplies,Postage,2021-11-06,3,54,162,New customer

In [112]:
customer_retained_data

,Unnamed: 0,Customer_ID,CategoryGroup,Category,InvoiceDate,Quantity,TotalPrice,Total Sales,Type
0,0,15550,Games & Toys,Games & Toys,2020-01-01,1,8,8,Retained customer
1,1,15550,Bags & Purses,Jumbo Bag,2020-01-01,1,2,2,Retained customer
2,2,15550,Decorations,Doilies,2020-01-01,1,1,1,Retained customer
3,3,15550,Bags & Purses,Purse,2020-01-01,2,3,6,Retained customer
4,4,15550,Bags & Purses,Purse,2020-01-01,2,3,6,Retained customer
...,...,...,...,...,...,...,...,...,...
256407,210412,16405,Lamps & Lights,Metal Lanterns,2020-12-31,1,5,5,Retained customer
256408,210413,16405,Candles,T-Lights,2020-12-31,1,1,1,Retained customer
256409,210414,16405,Candles,T-Light Holder,2020-12-31,1,1,1,Retained customer
256410,212478,16405,Candles,T-Light Holder,2021-01-08,168,92,15456,Retained customer
256411,212479,16405,Lamps & Lights,Metal Lanterns,2021-01-08,16,68,1088,Retained customer

In [78]:
df_updated = pd.concat([customer_new_data, customer_retained_data, customer_lost_data], axis=0)

In [86]:
df_updated.columns

Index(['Unnamed: 0', 'Customer_ID', 'CategoryGroup', 'Category', 'InvoiceDate',
       'Quantity', 'TotalPrice', 'Total Sales', 'Type'],
      dtype='object')

In [87]:
df_updated.drop("Unnamed: 0", axis=1).to_csv("Final_data.csv")

### 3. Maketing cost calculation

In [151]:
cost_retained = customer_retained_data[customer_retained_data["InvoiceDate"]>"2020-12-31"]['Total Sales'].sum()*0.05

In [152]:
cost_retained

1752414.5

In [161]:
avg_cost_per_rentention = cost_retained/2000

In [162]:
avg_cost_per_rentention

876.20725

In [157]:
cost_new = 1500*3*(cost_retained/2000)

In [163]:
cost_new

3942932.625

In [159]:
total_cost=cost_retained+cost_new

In [160]:
total_cost

5695347.125